--path:"./"
--cc:clang

--define:chronicles_log_level=INFO
--define:figdrawTextBackend="harfbuzzy"

# --define:baliLogJitDbg
# --define:baliLogVmDbg
# --define:baliLogExecDbg

@if release:
  --passC:"-O3"
  -d:flto
@else:
  --debugger:native
  --passC:"-g3"
@end
