/*
 * Sirius' user agent stylesheet.
 * This is the first stylesheet loaded into the layout engine.
 * 
 * Author(s):
 * Trayambak Rai (xtrayambak@disroot.org)
*/

/* FIXME: empty selectors are discarded entirely! */
html { }
body {
  margin-left: 8px;
  margin-top: 16px;
}

* {
  cursor: default;
  color: black;

  font-family: serif;
  font-size: 16px; /* HACK: To prevent crashes on elements we don't handle here. In the long run we should probs fix how we resolve font-size instead. */
}

/* Paragraphs */
p {
  font-size: 24px;
  color: rgb(0, 0, 0);
  display: block;
  margin-bottom: 24px;
}

strong {
  font-size: 24px;
  display: inline;
  color: rgb(0, 0, 0);
}
a {
  font-size: 24px;
  color: rgb(0, 0, 255); /* Make anchors appear blue. */
  text-decoration: underline;
  cursor: pointer;
  display: inline;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(0, 0, 0);
  display: block;
}

/* Headings
* They progressively get smaller with each level. */
h1 {
  font-size: 32px;
  margin-bottom: 32px;
}
h2 {
  font-size: 30px;
  margin-bottom: 28px;
}
h3 {
  font-size: 28px;
  margin-bottom: 24px;
}
h4 {
  font-size: 24px;
  margin-bottom: 24px;
}
h5 {
  font-size: 22px;
  margin-bottom: 22px;
}
h6 {
  font-size: 20px;
  margin-bottom: 20px;
}

header {
  display: block;
  font-size: 16px;
  margin-bottom: 32px;
}

aside {
  display: block;
  font-size: 16px;
  margin-bottom: 24px;
}

ul {
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
}

li {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  margin-left: 16px; /* HACK: Since we don't support bullets yet, this just makes the list items more prominent. */
}

blockquote {
  display: block;
  font-size: 16px;
  margin-bottom: 24px;
}

br {
  display: inline;
  font-size: 16px;
}

span {
  font-size: 16px;
  display: inline;
}

footer {
  font-size: 12px;
}

b {
  display: inline;
}

img {
  display: inline;
}

p, h1, h2, h3, h4, h5, h6, strong, b, footer, blockquote, li {
  cursor: text;
} /* FIXME: Ideally, this should target all anonymous nodes that have text in them. */

strike { text-decoration: line-through; }

button {
  cursor: pointer;
  background-color: gray;
  width: 100%;
  border: 1px solid gray;
  padding: 1px 2px;
  margin: 0em;
}

input {
  display: block;
  cursor: text;
  background-color: blue;
  width: 100%;
  border: 1px solid #767676;
  padding: 1px 2px;
  margin: 0em;
}
